<!-- adalah sebuah interface yang bekerja di server dan back-end -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan-EJS</title>
</head>
<body>
    <h1>Halo!</h1>
    <hr/>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae unde, velit fuga ducimus facere quos eaque, vero non necessitatibus saepe explicabo consequatur numquam nesciunt ratione odio ipsum, laudantium rerum porro! Autem dicta suscipit labore voluptatum omnis maiores distinctio amet vitae cumque ad? Deleniti iste, ipsa dolores aliquid commodi voluptas nobis repellat libero vitae sit sint, atque aspernatur, dicta voluptates modi delectus. Error cupiditate veniam reiciendis mollitia quo, tempora rem! Quis iusto expedita, molestiae maiores nesciunt ea quia adipisci earum sint beatae velit! Consequatur commodi ullam deserunt ipsa ut dolorem voluptas vitae soluta tenetur ipsam. Repellat dicta ipsam laboriosam commodi optio blanditiis dolorem adipisci, vitae omnis nisi tempora nobis illum dolore aperiam quibusdam mollitia inventore assumenda eius ad impedit facilis! Ea, ex. Mollitia accusantium quia illo quasi deserunt ipsa ab molestiae voluptas nihil voluptatem quidem natus harum tenetur at ut quae accusamus maxime nostrum, rem neque? Ipsum numquam dolorem quibusdam quisquam sapiente veritatis velit illo labore, at id, doloremque repellendus! Et voluptate maiores, deserunt eius repudiandae veniam, dignissimos repellendus autem modi explicabo assumenda id neque consequuntur. Odio quo quaerat beatae vel perferendis iure, ducimus voluptatibus possimus, ipsa architecto non libero labore. Quas libero distinctio itaque, perferendis odio ad ut aut saepe.</p>
</body>
</html>